/*import fonts*/

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400;500;700&display=swap');

/*style-guide value*/

:root {
    /*COLORS - PRIMARY*/
    --clr-bg: hsl(0, 0%, 100%) ;
    --clr-main: hsl(300, 43%, 22%); /* Titles & buyers cards */
    --clr-secondary: hsl(333, 80%, 67%); /* "verified" status */
    /*COLORS - NEUTRAL*/    
    --clr-paragraph: hsl(303, 10%, 53%); /* paragraph */
    --clr-reviews: hsl(300, 24%, 96%); /* reviews cards */
    --clr-white: hsl(0, 0%, 100%);
    /* TYPOGRAPHY */
    --fs-body: 15px;
    --ff-primary:'League Spartan', sans-serif;
    --fw-100: 100;
    --fw-400: 400; /* medium */
    --fw-500: 500;
    --fw-700: 700; /* bold */
    /*BORDERS*/
    --border-radius: 0.5rem;
}

body {
    /* Body fit 100% of the html*/
    min-height: 100vh;
    margin: 0;
    overflow: hidden;

    /* Center div in body*/
    display:flex;
    align-items: center;
    justify-content: center;

    /* Set default font */
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-400);

    /* Set background image */
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-attachment: fixed;


}



/* Disable default margin */
h1, h2, h3, h4, p {
    margin: 0;
}

/* General style */
h1 {
    color: var(--clr-main);
    font-weight: var(--fw-500);
    font-size: 4rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

h2 {
    color: var(--clr-main);
    font-weight: var(--fw-500);
    font-size: 1rem;
    line-height: 1rem;
}

h3 {
    color: var(--clr-white);
    font-weight: var(--fw-500);
    font-size: 1rem;
    line-height: 1rem;
}

h4 {
    color: var(--clr-secondary);
    font-weight: var(--fw-100);
    font-size: 1rem;
    line-height: 0.5rem;
}

p {
    color: var(--clr-paragraph);
    font-weight: var(--fw-400);
    text-align: left;
}

/* Grid pattern */
.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

width: 1100px; /* absolute value so it doesn't shrink */
height: 575px; 
padding: 0px 165px;

}

.top { grid-area: 1 / 1 / 2 / 3; } 
.header { grid-area: 1 / 1 / 2 / 2; }
.grade { grid-area: 1 / 2 / 2 / 3; }
.card_reviews { grid-area: 2 / 1 / 3 / 3; }



.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.header {
    width: 425px;
    height: 100%;
    font-size: 1.1rem;
}

.grade {
    height: 100%;
    width: 540px;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rated {

    width: 445px;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--clr-reviews);
    padding: 1rem;
    border-radius: var(--border-radius);
}

.icon_star {
    padding: 0 2rem 0 2rem;
}

#reviews {
    align-self: flex-start;
}

#besttech {
    align-self: flex-end;
}

.card_reviews {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.card_reviews_profil {
    box-sizing: border-box;
    padding: 30px;
    max-width: 350px;
    height: 235px;
    background-color: var(--clr-main);
    border-radius: var(--border-radius);
}

.card_reviews_heading {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.profil_picture {
    width: 50px;
    border-radius: 100%;
}

.name {
    padding-left: 25px;
 }

.reviewer_name {
    line-height: 2;
}

.reviews {
    margin: 30px 0;
 }

.reviews p {    
    color: var(--clr-white);
    font-size: 1.1em;
}

#colton {
    align-self: flex-start;
}

#anne {
    align-self: flex-end;
}

@media only screen and (max-width: 1105px) {

    body {
        overflow-y: visible;
    }

   .parent {
        width: 325px;
        height: auto;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .top {
        flex-direction: column;
    }

    .header {
    width: 100%;
    text-align: center;
    }

    .header h1{
        font-size: 3rem;
        line-height: 0.9;
    }

    .header p{
        text-align: center;
        font-size: 1.15rem;
        margin: 10px 0;
    }

    .grade {
        width: 100%;
        padding-bottom: 20px;
    }

    .rated {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }    
    
    .card_reviews {
        display: flex;
        flex-direction: column;
    }

    .card_reviews_profil {
        margin: 10px 0;
    }

    #reviews {
    align-self: center;

    }

    #besttech {
    align-self: center;
    }
}






